#main__day4{
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0.5rem 0rem .5rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comenzar_juego{
    width: auto;
    height: auto;
    background-color: yellow;
    color: black;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

#enviar_numero{
    width: auto;
    height: auto;
    background-color: yellow;
    color: black;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

#reiniciar_juego{
    width: auto;
    height: auto;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.button_disabled{
    background-color: #242424;
    color: yellow;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}

.main__day4__contenedor-juego{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main__day4__contenedor__botones{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}